{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="Header-flex">
            <a id="img-div" href="{% url 'index' %}"><img src="{% static 'auctions/AuctionHub.png' %}" id="logo-auctionhub"></a>
            {% if user.is_authenticated %}
                <a class="navlink hidden" href="">Log In</a>
                <a class="navlink" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="navlink" href="{% url 'login' %}">Log In</a>
                <a class="navlink" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        <div id="user-status">
            <div>
                {% if user.is_authenticated %}
                    Welcome <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
        </div>
        <div id="navigation-flex">
            <a href="{% url 'index' %}">Active Listings</a>
            <a href="{% url 'index' %}">Categories</a>
            <a href="{% url 'index' %}">WatchList</a>
            <a href="{% url 'createListings' %}">Create Listings</a>
            <a href="{% url 'index' %}">Previous Listings</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
